        h1 {
            font-family: sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 20px auto;
            color: #333;
        }
        strong {
            color: red
        }
        body {
            font-family: sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 20px auto;
            color: #333;
        }
            h2 {
            font-family: sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 20px auto;
            color: orange;
        }
        li {
             color: #000000;
             font-size: 20px;
             font-family: Arial, Helvetica, sans-serif;
             list-style-type: filled circle;
        }
            h3 {
            font-family: sans-serif;
            line-height: 1.6;
            max-width: 800px;
            margin: 20px auto;
            color: orange;
        }
/* Contenedor principal */
.form-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

/* Estilo de los inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    font-size: 16px;
    color: #555;
    outline: none;
    transition: border-color 0.3s;
}

/* Color de los placeholders */
input::placeholder {
    color: #888;
}

/* Efecto al hacer clic en el input */
input:focus {
    border-color: #3498db;
}

/* Estilo del botón */
.btn-register {
    width: 100%;
    background-color: #3498db; /* Azul similar al de la imagen */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efecto hover para el botón */
.btn-register:hover {
    background-color: #2980b9;
}